@font-face{
    font-family : "jellyka";
    src : url('/projet-fin-de-formation/coaching/public/font/Jellyka_Estrya_Handwriting.ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch : normal;
}