:root{
    // font utilisées
    --font-family: "Muli", sans-serif;
    --font-family-amatic:'Amatic SC', cursive;
    --font-family-jellyka : "jellyka", Helvetica, sans-serif;

    //couleurs de fond header
    --light: 74, 145, 158;
    
    //Background
    --background:#ffffff;
    
    //--background-hr:#c23308;
    --background-hr:#ce6a6b;
    --background-footer:#7a7a7a;

    //Menu nav-link
    --background-navLink:#ce6a6b;
    --background-navLink-text:#04efe8;
    --background-navLink-hover:#f7e258;
    //Texte
    --text: #3a3737;
    //--text: #4a919e;
    --main-text:#3a3737;
    
    // couleur menu et border
    --menu:#413c3c;
    --border : #ddd;
}