{% extends 'home.html.twig' %}
{% block main %}

<main>
    {# SECTION reservation validation #}
    <section id="reservation" class="reservation">
        <h2>RESERVATION</h2>
        <div>
            <h3>Etape 3 / 3</h3>
            <h4>Votre Achat a été validé</h4>
             <article>
                <p>Un mail vous a été envoyé pour la confirmation de la commande.</p>
                <p>Votre login et mot de passe également.</p>
            </article>
            <div><button><a href="{{ path('home') }}">Revenir sur la home</a></button></div>
        </div>
    </section>
    <div><hr></div>
</main>
{% endblock %}
