<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet">
    
    <title>mail account</title>
</head>
<body>
    <header>
        <p>Bonjour,<p></p>
    </header>
    <main>
        <div>
            <p>{{ message }}</p>
            
        </div>
    </main> 
   <footer>
       <p>Cordialement,</p>
       <p><a href="">Actuel Coaching</a> - Julie Bonnet<br>
        Adresse : 10 rue Taine 75012 PARIS<br>
        Téléphone : +33 (0) 6 76 34 39 65 - Email : contact@actuelcoaching.fr<br>
        N° SIRET : 820 498 707 00018</p>
   </footer>
</body>
</html>

