{% extends 'home.html.twig' %}

{% block main %}
<main>
    <section>
        <h2>Une erreur a été rencontrée !</h2>
        <div>
            <article>
                <button><a href="{{ path('home') }}">Retournez au site</a></button>
            </article>
         </div>
    </section>
</main>
{% endblock %}