{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin - Actuel Coaching' %}

{% block page_content %}

    <p>
        <strong>Bienvenue sur le BackOffice du site !!!</strong>
    </p>

    
{% endblock %}
